$background-color: #EBF2F5;
$shapes-01: #FFFFFF;
$blue-light: #96FEFF;
$blue: #15C3D6;
$blue-shadow: #12AFCB;
$cyan: #00c7c7;
$yellow: #FFD666;
$green-light: #3EE08F;
$green: #37C77F;
$brown: #8D734B;

@mixin gradient-blue {
  background: linear-gradient(329.54deg, $blue-shadow 0%, $cyan 100%);
}