@import "../variables";
@import "../base";

.page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;

  aside {
    @include gradient-blue();

    width: 440px;
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 2rem;
      font-weight: 800;
      line-height: 42px;
      margin-top: 64px;
    }

    p {
      line-height: 28px;
      margin-top: 24px;
    }

    footer {
      display: flex;
      flex-direction: column;

      line-height: 24px;

      strong {
        font-weight: 800;
      }
    }
  }

  .leaflet-container {
    z-index: 5;
  }

  .create-orphanage {
    @include btn();

    z-index: 10;

    bottom: 80px;
    right: 80px;
    color: $blue;
    background: $blue-light;

    &:hover {
      background-color: $yellow;
      color: $brown;
      width: 7.2rem;
    }
  }

}